*{
    padding: 0rem;
    margin: 0rem;
    box-sizing: border-box;
    font-family: "Space Grotesk", sans-serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
}

body{
    width: 100vw;
    min-height: 100vh;
}

.mainHeader{
    background: #252525;
    color: #ffffff;
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    justify-content: center;
    height: 6rem;
}

.mainContent{
    min-height: calc(100vh - 10rem);
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    justify-content: center;
}

.fichaCard{
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    justify-content: center;
    height: 20rem;
    box-shadow: 0px 0px 16px #2525254a;
    border-radius: 16px;
}

#avatarImg{
    height: 20rem;
    border-radius: 16px;
}

.fichaInfoSect{
    width: 26rem;
    display: flex;
    flex-flow: column wrap;
    padding: 1rem;
    justify-content: space-evenly;
}

.linkToStyle{
    color: #3a86ff;
    font-weight: bold;
}

.mainFooter{
    box-shadow: 0px 0px 14px #25252533;
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    justify-content: center;
    height: 4rem;
}

#uadeLogo{
    height: 2rem;
}

@media screen and (max-width: 800px) {

    #avatarImg{
        height: auto;
        width: 24rem;
    }

    .fichaCard{
        height: auto;
        width: 24rem;
    }
    
}

@media screen and (max-width: 450px) {
    .mainHeader h1{
        font-size: 1.4rem;
    }
    #avatarImg, .fichaCard{
        height: auto;
        width: 90vw;
    }
}
